body{
    background-color: #1c1c1c;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


h1{
    text-align:  center;
    color: white;
    text-shadow: 0cm;
    
}

p{
    text-align: center;
}

.info{
    display:flex;
    justify-content: center;

    
}


.info p{
    color:white;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 100px;
    text-align: justify;
}

.nav{
    background-color: #1c1c1c;
    display: flex;
    justify-content: flex-end;
}
.nav .desc{
   
   position: relative;
 
}

.nav .desc:hover{
    color: rgb(255, 242, 0);
    transition: all 0.5s;
    transform: scale(1.20);;
   
 }
.nav .navegacion{
   
    display: flex;
    position: relative;
    justify-content: flex-end;
   

}
.nav .navegacion ul{
    display: flex;
    
}
.nav ul li {
   justify-content: center;
    list-style: none; 
}
.desc{
    font-family: 'Lato', sans-serif;
    
    color: #ffffff;
    font-size: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;
    
}
.nav ul li a:hover {
    background-color:#fadf41;
    
}


.productos {

    

}

.productos h2{
   
    color: #ffffff;
    text-align: center;

}

.productos .container{
    display: flex;
    justify-content: center;
    margin: auto;
    
   
}

.productos .container .card{
    color: #ffffff;
    text-align: center;
    border-color: aqua;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(242, 255, 0);
    border-radius: 15px;
    margin: auto 30px;
}

.productos .container .card:hover{
    color: rgb(191, 186, 92);
    transition: all 0.5s;
    transform: scale(1.06);;
}

.card img{
    width: 300px;
    height: 188px;
}